

<mat-card class="card">
  <h2 class="title">Kert Áruház</h2>
  <h2 class="logintitle">Bejelentkezés</h2>
  <mat-card-content>
  <form class="background" [formGroup]= "loginForm" (ngSubmit)="onSubmit()" class="form" >

    <mat-form-field >
      <input matInput type="text" placeholder="Felhasználónév" formControlName="felhNev">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Jelszó" type="password" formControlName="jelszó">
    </mat-form-field>
    <br>
    <div id="hibasAdat"></div>

    <button mat-raised-button type="submit" [disabled]="!loginForm.valid"  class="submit" >Bejelentkezés</button>
    
    


  </form>
</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3 class="title">Még nincs fiókja?</h3>
    <button mat-raised-button routerLinkActive="active" class="reg" routerLink="/Regisztracio">Regisztrálás</button>
  </mat-card-content>
</mat-card>

